@import '../../styles/common.scss';

.root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content {
    flex-grow: 1;
	justify-content: center;
}

.footers {

}

.navigation {
    @media #{$media-phone} {
        width: 90vw;
    }

    @media #{$media-tablets} {
        width: 360px;
    }
}

.mobile {
    @media #{$media-desktop} {
        display: none;
    }
}

.mask {
    z-index: 9;
}

.header {
    z-index: 8;

}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.hasTopPadding {
    padding-top: $mobile-header-height;
}

.slider {
    z-index: 10;
    height: 100%;
    position: fixed;
    top: 0;
}
