@import '../../../styles/common';

.name {
    word-wrap: break-word;
    font-weight: 400;
    font-size: 22px;
}

.sku {
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
}
.summary {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
}

.price {
    white-space: nowrap;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 40px;
}

.smartAlign {
    display: flex;
    justify-content: flex-start;

    @media #{$media-mobile} {
        justify-content: center;
    }
}
