@import '../../../styles/extends/flex.scss';
@import '../../../styles/extends/typography.scss';
@import '../../../styles/common.scss';

.viewer {
    margin-bottom: 20px;
    max-height: 600px;
     display: block;
}

.previews {
    display: flex;
    align-items: center;
    justify-content: center;
    @media #{$media-mobile} {
        display: none;
    }
}

.previewImage {
    width: 60px;
    padding: 5px;
    margin-right: 15px;
    opacity: 0.7;
    border: 1px solid $white-color;
    transition: opacity 0.5s;
    cursor: pointer;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        opacity: 1;
    }

    &.active {
        border-color: $gray-color;
        opacity: 1;
        cursor: default;
    }
}

.bordered {
    border: 1px solid $black-color;
}

.owlPagination {
    margin-bottom: 10px;
    text-align: center;
    margin-top: -20px;
    display: none;
    @media #{$media-mobile} {
        display: block;
    }
}

.owlPage {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    opacity: 0.5;
    background: $gray-dark-color;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;

    &.active {
        opacity: 1;
    }
}

.centered {
        display: block;
        justify-content: center;
        @media #{$media-mobile} {
            display: flex;
        }
}
