@import '../../../styles/extends/typography.scss';
@import '../../../styles/extends/flex.scss';
@import '../../../styles/common.scss';


.root {
    font-size: 12px;
    background-color: $gray-extra-light-color;
    border-top: 3px solid $blue-color;
    padding: 50px 0 50px;
    @media #{$media-phone} {
        padding: 30px 0 50px;
        border: none;
    }
}

.high {
    line-height: 34px;
}

.spaceBetween {
    justify-content: space-between;
}

.contentCentered {
    align-items: center;
    justify-content: center;
}

.contentLeft {
    align-items: center;
    justify-content: flex-start;
}

.contentRight {
    align-items: center;
    justify-content: flex-end;
}

.equal {
    display: flex;
    flex: 1 0 100px;
}

.pad {
    margin-left: 10px;
    margin-right: 10px;
}

.link {
    @extend .unselectable;
    line-height: 40px;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 12px;
    display: inline-block;
}

.linkWrapper {
    padding: 0 10px 0 10px;

    &:first-child {
        padding-left: 0;
    }

    @media #{$media-mobile} {
        padding-left: 0;
    }
}

.leftColumn {
    @media #{$media-phone} {
        align-items: center;
        justify-content: center;
        text-align:center;
        margin-bottom: 15px;
    }
}

.helpLinks {
    margin-top: 12px;
    margin-bottom: 25px;
    margin-left: -15px;
    @media #{$media-phone} {
        margin-left: 0;
    }
}

.icon {
    display: inline-flex;
    flex-direction: column;
    margin: 0 15px 0 15px;
    text-align:center;
    text-transform: uppercase;
}
.iconSVG {
    margin-left: 4px;
    margin-bottom: 12px; 
}

.helpNotice {
    @media #{$media-phone} {
        display: none;
    }    
}

.rightColumn {
    align-items: left;
    text-align: left;
    @media #{$media-phone} {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.newsletterForm {
    margin-top: 15px;
}

.newsletterForm input {
    height: 50px !important;
    padding-right: 100px;
}