@import '../../../styles/common.scss';
@import '../../../styles/extends/flex.scss';

.root {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background: $white-color;

    width: 50%;

    @media #{$media-tablets} {
        width: 33.33%;
    }

    @media #{$media-desktop} {
        width: 25%;

    }
    animation: fadein 1.2s;
}

.fullWidth {
    @media #{$media-desktop} {
        max-width: 93%;
    }

    @media #{$media-desktop-large} {
        max-width: 93%;
    }
}

.info {
    @extend .flex-column;
    justify-content: flex-start;
    align-items: left;
    margin-top: 12px;
    margin-left: 10px;
    margin-bottom:30px;
    font-size: 12px;
    color: $gray-color;
    max-width: 54%;
    @media #{$media-mobile} {
        max-width: 64%;
    }
    @media #{$media-phone} {
        max-width: 90%;
    }
}

.summary {
    @extend .flex-column;
}

.title {
    @extend .flex-column;
    margin: 0 0 3px;

    line-height: 20px;
    font-size: 14px;
    font-weight: 300;
    color: $black-color;
}

.price {
    margin: 0 0 5px;

    color: $black-color;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 400;
 }

.smartAlign {
    display: flex;
    justify-content: flex-start;

    @media #{$media-mobile} {
        justify-content: center;
    }
}
