@import '../../../styles/common.scss';
@import '../../../styles/extends/typography.scss';

.root {
    width: 100%;
    height: 550px;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    @media #{$media-mobile} {
        height: 450px;
        background-position: left center;
    }
}

.content {
  -ms-flex-preferred-size: 38%;
  flex-basis: 38%;
  max-width: 38%;
  margin-left: 10%;
    @media #{$media-mobile} {
        -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
        max-width: 80%;
    }
}

.header {
    text-transform: uppercase;
    color: $gray-extra-dark-color;
    line-height: 40px;
}

.subheader {
    color: $gray-extra-dark-color;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
}