@import '../../../styles/extends/typography.scss';
@import '../../../styles/extends/flex.scss';
@import '../../../styles/common.scss';


.root {
    font-size: 12px;
}

.row {
    @extend .flex-row;
    height: 70px;
     @media #{$media-mobile} {
        height: 50px;
     }
}

.high {
    line-height: 34px;
}

.spaceBetween {
    justify-content: space-between;
}

.contentCentered {
    align-items: center;
    justify-content: center;
}

.contentLeft {
    align-items: center;
    justify-content: flex-start;
    @media #{$media-phone} {
        align-items: center;
        justify-content: center;
        order: 2;
        flex-direction: column;
    }
}

.gap {
    margin-left: 15px;
    margin-right: 15px;
    color: $blue-color;
    @media #{$media-phone} {
        display: none;
    }
}
.copyright {
    @media #{$media-phone} {
        order: 2;
        margin-top: 10px
    } 
}

.contentRight {
    align-items: center;
    justify-content: flex-end;
    @media #{$media-phone} {
        margin-top: 10px;
        align-items: center;
        justify-content: center;
        order: 1;
        margin-bottom: 15px;
    }
}

.equal {
    display: flex;
    flex: 1 0 100px;
}

.pad {
    margin-left: 10px;
    margin-right: 10px;
}

.link {
    @extend .unselectable;
    line-height: 40px;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 12px;
    display: inline-block;
    @extend .default-link;
    &:hover {
       @extend .default-link-hover;
    }
}

.linkWrapper {
    padding: 0 10px 0 10px;

    &:first-child {
        padding-left: 0;
    }

    @media #{$media-mobile} {
        &:first-child {
            padding-left: 0;
        }
    }
}

.icon {
    display: inline-block;
    margin: 0 12px 0 12px;
}