@import '../../../styles/common';

.root {
    margin-bottom: 30px;
    margin-top: 15px;
    @media #{$media-phone} {
        margin-top: -20px;
    }
}

.viewer {
    @media #{$media-mobile} {
        margin-top: 10px;
    }
}

.info {
    @media #{$media-desktop} {
        max-width: 50% !important;
        flex: 1 0 470px;
    }
}

.addToCartContainer {
    @media #{$media-mobile} {
         margin-top: 0px;
    }
    @media #{$media-phone} {
        width:100%;
    }
}

.addToCart {
    width: 180px;
    @media #{$media-mobile} {
        justify-content: center;
        alignitems: center;
    }
}

.panelWrapper {
    border-bottom: 1px solid $gray-color;
    margin-bottom: 5px;
    padding: 7px;

    &:first-child {
        border-top: 1px solid $gray-color;
    }
}

.panelContent {
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 13px;
    margin-bottom: 5px;
}

.proceedToCheckout {
    margin-top: 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

.margin {
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;


    width: 85%;
}

.leftColumn {
    align-items: stretch;
    justify-content: stretch;
    max-width: 46%;
    @media #{$media-phone} {
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }

}
