@import '../mixins/fontface.scss';

$OpenSansPath: "../../fonts/opensans" !default;
$OpenSansVersion: "1.1.0" !default;

@font-face {
  font-family: 'Open Sans';
  @include fontdef($OpenSansPath, $OpenSansVersion, "Regular");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  @include fontdef($OpenSansPath, $OpenSansVersion, "Italic");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  @include fontdef($OpenSansPath, $OpenSansVersion, "Semibold");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  @include fontdef($OpenSansPath, $OpenSansVersion, "Bold");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  @include fontdef($OpenSansPath, $OpenSansVersion, "Light");
  font-weight: 300;
  font-style: normal;
}
