@import '../../../styles/common.scss';
@import '../../../styles/extends/flex.scss';
@import '../../../styles/extends/typography.scss';

.root {
    @media #{$media-desktop} {
       padding-top: 20px;
       padding-bottom: 20px;
    }  
}

.leftColumn {
    margin-bottom: 20px;
    min-height: 180px;
    @media #{$media-desktop} {
        flex: 1 0 500px;
    }
}

.checkoutArea {
    background-color: $gray-extra-light-color;
}

.cartRow {
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
}

.headerRow {
    font-size: 14px;
    padding-bottom: 10px;
}

.orderForm{
    @extend .flex-column;
}

.productColumn {
    @extend .flex-row;
    justify-content: start;
    flex: 4 0 0;
}

.quantityColumn {
    @extend .flex-row;
    justify-content: center;
    flex: 2 0 0;
}

.priceColumn {
    @extend .flex-row;
    justify-content: center;
    font-size: 14px;
    flex: 2 0 0;
}

.removeColumn {
    flex: 1 0 0;
    position: relative;
}

.removeIcon {
    cursor: pointer;
    position: absolute;
    right: 2px;
    top: 2px;
    @extend .element-link;
}

.quantityColumn {
    flex: 2 0 0;
}

.checkoutSeparator {
    margin-bottom: 15px;
}

.itemSeparator {
    margin-bottom: 15px;
    margin-top: 5px;
}

.cartIcon {
    margin-left: -2%;
}
.emptyArea {
    margin: auto;
    display: flex;
    min-height: 40vh;
    align-items: center;
     flex-direction: column;
     justify-content: center;
     align-content: stretch; /* Extra space in Cross Axis */
}
.empty {
    line-height: 40px;
    font-size: 18px;
    @extend .unselectable;
}
:export  {
    cartIconColor: $gray-color;
}