@import '../../../styles/common.scss';
@import '../../../styles/extends/flex.scss';
@import '../../../styles/extends/typography.scss';

.root {
    @media #{$media-mobile} {
        display: none;
    }
   @media #{$media-desktop} {
        display: inline;
    }
}

.row {
    @extend .flex-row;
    height: 70px;
}

.high {
    line-height: 24px;
}

.spaceBetween {
    justify-content: space-between;
}

.contentCentered {
    align-items: center;
    justify-content: center;
}

.contentLeft {
    align-items: center;
    justify-content: flex-start;
}

.contentRight {
    align-items: center;
    justify-content: flex-end;
}

.login {
    font-size: 20px;
    font-weight: 400;
}

.logo {
    width: 196px !important;
    display: inline-block;
    transition: all .2s;

    &:hover {
       opacity: 0.6;
    }
}

.equal {
    display: flex;
    flex: 2 0 200px;
}

.one {
    display: flex;
    flex: 1 0 200px;
}

.link {
    @extend .unselectable;
    @extend .nav-link;
    padding: 0 0px 0 5px;
}


.pad {
    margin-left: 10px;
    margin-right: 10px;
}
