@import '../../../styles/common';

.root {
    display: flex;
    margin-top: 0px;

    @media #{$media-mobile} {
        flex-direction: column;
    }

    &:first-child {
        margin-top: 0;
    }
}

.weak {
    @media #{$media-mobile} {
        flex-direction: row;
    }
    @media #{$media-phone} {
        flex-direction: column;
    }
}

.spaceBetween {
    justify-content: space-between;
}

.spaceAround {
    justify-content: space-around;
}
