@import '../../../styles/common.scss';
@import '../../../styles/extends/typography.scss';
@import '../../../styles/extends/flex.scss';

.root {
    @extend .flex-row;
    justify-content: space-between;
    line-height: $mobile-header-height;
    text-align: center;
    @media #{$media-desktop} {
        display: none;
    }
    overflow: hidden;
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    background-color:rgba(255,255,255, 0.8);
    border-bottom: 1px solid $gray-light-color;
}

.brand {
    @extend .unselectable;
    font-size: 18px;
    font-weight: 400;
}
.leftIconsBlock,
.rightIconsBlock {
    @extend .flex-row;
    align-items: center;
    margin: 0 8px;
}

.backIcon {
    margin-right: 15px;
    padding-left: 6px;
    padding-right: 6px;
    @extend .default-link;
    &:hover {
       @extend .default-link-hover;
    }   
}
.hamburger,
.login {
    margin-right: 15px;
    padding: 6px;
    @extend .default-link;
    &:hover {
       @extend .default-link-hover;
    }
}

.logo {
    @extend .unselectable;
    width: 53% !important;
    max-width: 320px;
    display: inline-block;
    height: 40px;
    text-align:center;
    @extend .default-link;
    &:hover {
       @extend .default-link-hover;
    }
}

.cart {
    position: relative;
    margin-right: 6px;
    margin-left: 6px;
    @extend .default-link;
    &:hover {
       @extend .default-link-hover;
    }
}

.productLength {
    position: absolute;
    top: 2px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 10px;
    font-weight: 500;
}
