@import '../../../styles/extends/typography.scss';
@import '../../../styles/extends/flex.scss';
@import '../../../styles/common.scss';

.root {
    background-color: $gray-extra-light-color;
}

.row {
    @extend .flex-row;
    height: 70px;
    margin: 0 10% 0 10%;
    @media #{$media-mobile} {
            height: 100%;
            padding: 6px 5px 18px 5px;
            margin: 0;
            overflow-x: scroll;
            flex-shrink: 0;
    }
}

.contentLeft {
    align-items: center;
    justify-content: flex-start;
}

.contentCenter {
    align-items: center;
    justify-content: space-between;
    @media #{$media-mobile} {
            flex-shrink: 0;
            justify-content: space-between;
            margin-left: 8%;
            margin-right: 8%;
    }
    @media #{$media-phone} {
            justify-content: space-between;
            margin: 0;
            margin-left: 8%;
    }
}

.contentRight {
    align-items: center;
    justify-content: flex-end;
}

.equal {
    display: flex;
    flex: 1 0 100px;
}

.link {
    @extend .unselectable;
    line-height:25px;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 14px;
    @extend .default-link;
    &:hover {
       @extend .default-link-hover;
    }
}

.active {
    font-weight: 600;
    color: $blue-color;
}

.linkWrapper {
    padding: 0 20px 0 20px;

    &:first-child {
        padding-left: 0;
    }

    @media #{$media-mobile} {
        padding: 12px 15px 0px 15px;
    }
    @media #{$media-mobile} {
            flex-shrink: 0;
    }
}
