@import '../../../styles/extends/typography.scss';
@import '../../../styles/extends/flex.scss';
@import '../../../styles/common.scss';

.root {
    background-color: $gray-extra-light-color;
}

.row {
    @extend .flex-row;
    height: 70px;
    margin: 0 10% 0 10%;
    max-width: $max-content-width;
    @media #{$media-mobile} {
            height: 60px;
            padding: 0px 5px 0px 5px;
            margin: 0;
            overflow-x: scroll;
            flex-shrink: 0;
    }
}

.contentLeft {
    align-items: center;
    justify-content: flex-start;
}

.contentCenter {
    align-items: center;
    justify-content: space-between;
    @media #{$media-mobile} {
            flex-shrink: 0;
            justify-content: space-between;
            margin-left: 8%;
            margin-right: 8%;
    }
    @media #{$media-phone} {
            justify-content: space-between;
            margin: 0;
            padding-left: 5%;
    }
}

.contentRight {
    align-items: center;
    justify-content: flex-end;
}

.equal {
    display: flex;
    flex: 1 0 100px;
}

.link {
    @extend .unselectable;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 14px;
    height: 100%;
    @extend .default-link;
    &:hover {
       background-color: $gray-light-color;
    }
    padding: 0 20px 0 20px;
    line-height: 70px;
    padding-bottom: 1px;

    @media #{$media-mobile} {
        line-height: 58px;
        white-space: nowrap;
    }
    @media #{$media-mobile} {
            flex-shrink: 0;
    }
}
.active {
    color: $blue-color;
    border-bottom: 2px solid $blue-color;
    padding-bottom: 0 !important;
}
