@import '../../../styles/common.scss';
@import '../../../styles/extends/flex.scss';
@import '../../../styles/extends/typography.scss';

.root {
    height: 36px;
    display: inline-block;
    padding: 10px 20px 11px;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border: 1px solid transparent;
    transition:.3s;

    &:focus,
    &:active,
    &:hover {
        outline: none;
    }
}

.icon {
    margin-left: 10px;
}

.frame {
}

.fat {
    padding: 15px 25px 34px 25px;
}
.cat {
    padding: 12px 45px 32px 45px;
    font-weight: 300;
    font-size: 14px;
}

.black {
    background-color: $black-color;
    color: $white-color;

    &:hover {
       background-color: $gray-extra-dark-color;
    }
}

.white {
    background-color: $white-color;
    color: $black-color;

    &:hover {
        background-color: $gray-light-color;
    }
}

/* Call to action color */
.cat {
    background-color: $call-to-action-color;
    color: $white-color;

    &:hover {
        background-color: $call-to-action-color-hover;
    }
}

.blue {
    background-color: $blue-color;
    color: $white-color;

    &:hover {
        background-color: $sky-blue-color;
    }
}

.wide {
    @extend .flex-wide-element;
    width: 100%;
}

.disabled {
    opacity: 0.5;
}

.text {
    white-space: nowrap;
}
