$white-color: #fff;
$black-color: #000;
$green-color: #008744;
$light-green-color: #5cb85c;

$blue-color: #47aab6;
$sky-blue-color: lighten($blue-color,20%);

$fb-color: #3b589b;
$fb-color-hover: #42A5F5;

$red-extra-light-color: #fdefee;
$red-color: #d62d20;
$yellow-color: #ffa700;

$call-to-action-color: #eb6d54;
$call-to-action-color-hover: lighten($call-to-action-color,15%);

$aqua-color: 4bb5c2;
$cyan-dark-color: #00bcd4;
$cyan-middle-color: #80deea;
$cyan-super-dark-color: #04bdd4;

$gray-color: #999;
$gray-extra-light-color: #f1f1f1;
$gray-light-color: #e0e0e0;
$gray-semi-light-color: #dbdbdb;
$gray-dark-color: #707070;
$gray-extra-dark-color: #444;

$coral-color: #ff6053;
$marsh-color: #ababab;
