$font-family-base: "open sans", "helvetica neue", arial, sans-serif;

$font-size-minuscule: 11px;
$font-size-tiny: 12px;
$font-size-small:  14px;
$font-size-medium:  16px;
$font-size-large: 18px;
$font-size-vlarge: 22px;
$font-size-huge: 30px;