@import '../variables/colors.scss';

.unselectable {
    user-select: none;
}

.normalize {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.default-link {
    transition: all .2s;
}

.default-link-hover {
    color: $blue-color !important;
}

.element-hover {
    transition: all .2s;
}

.nav-link {
    line-height: 34px;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
}

.element-link {
    transition: all .2s;
    &:hover {
        opacity: 0.5;
    }
    &:active {
        opacity: 0.3;
    }
}