@import '../../../styles/common.scss';
@import '../../../styles/extends/typography.scss';
@import '../../../styles/extends/ui.scss';

.root {
    @extend .unselectable;

    max-width: 100%;
    height: auto;
}

.productSmallThumb {
    max-height: 90px;
    @extend .product-thumbnail;
}
.productThumb {
    @extend .product-thumbnail;
    @media #{$media-mobile} {
        max-height: 205px;
        width: auto;
    }
    @media #{$media-desktop} {
        height: 235px;
        width: auto;
    }
    @media #{$media-desktop-large} {
        height: 260px;
        width: auto;
    }
}
.productImage {
    max-height: 540px !important;

    @media #{$media-phone} {
        max-height: 360px !important;
    }
}
