@import '../../../styles/common.scss';
@import '../../../styles/extends/typography.scss';
@import '../../../styles/extends/ui.scss';

.root {
    @extend .unselectable;
    display: flex;
    height: auto;
}

.productSmallThumb {
    max-height: 90px;
    @extend .product-thumbnail;
}
.productThumb {
    @extend .product-thumbnail;
    @media #{$media-mobile} {
        max-height: 205px;
        width: auto;
    }
    @media #{$media-phone} {
        max-height: 190px;
        width: auto;
    }
    @media #{$media-desktop} {
        height: 235px;
        width: auto;
    }
    @media #{$media-desktop-large} {
        height: 260px;
        width: auto;
    }
}
.productImage {
    max-height: 540px !important;
    width: auto;
    @media #{$media-mobile} {
        max-height: 420px !important;
    }
    @media #{$media-phone} {
        min-width: 1px;
        max-height: 340px !important;
    }
    @media #{$media-phone-mini} {
        max-height: 280px !important;
    }
    @media #{$media-phone-minimum} {
        max-height: 260px !important;
    }
}
