@import '../../../styles/common.scss';
@import '../../../styles/extends/flex.scss';
@import '../../../styles/extends/typography.scss';

.container {
    @media #{$media-mobile} {
        padding: 25px 0 25px;
    }
}

.header {
    @extend .flex-row;
    justify-content: center;
    position: relative;
    margin-bottom: 35px;
    margin-top: 10px;
    padding: 20px 0 20px;
    @media #{$media-mobile} {
        margin-bottom: 5px;
        margin-top: 5px;
    }
}

.logo {
    font-size: 24px;
    letter-spacing: 1px;
    width: 195px !important;
    display: inline-block;
    transition: all .2s;
    opacity: 0.6;

    &:hover {
       opacity: 0.4;
    }
}

.backLink {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    @extend .default-link;
    &:hover {
       @extend .default-link-hover;
    }
}

.leftColumn {
    @media #{$media-desktop} {
        flex: 1 1 100%;
    }
}

.rightColumn {
    @media #{$media-desktop} {
        margin-top: 50px;
        flex: 1 0 370px;
    }

    @media #{$media-desktop-large} {
        flex: 1 0 400px;
    }
}

.orderForm{
    @extend .flex-column;
}

.controls {
    @media #{$media-mobile} {
        display: none;
    }
}

.marginTop {
    margin-top: 15px;
}
